<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.naca.reserving">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reserving">
        <activity android:name="org.naca.reserving.MainActivity"/>
        <activity android:name="org.naca.reserving.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.naca.reserving.BaseActivity"/>
        <activity
            android:name="org.naca.reserving.SearchActivity"
            android:label="@string/search_activity_label"
            android:parentActivityName="org.naca.reserving.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.naca.reserving.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.naca.reserving.ViewHouseDetailsActivity"
            android:label="@string/house_detail_activity_title"
            android:parentActivityName="org.naca.reserving.MainActivity"/>
    </application>

</manifest>